table,
th,
td {
    border: 2px solid gray;
    border-collapse: collapse;
}

img {
    width: 20%;
}

.img-normal {
    border-radius: 10px;
}

.img-blur {
    filter: blur(2px);
}

.img-logo {
    float: right;
}